
.navbar {
    width: var(--width-navbar);
    height: 100vh;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar .buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.navbar button {
    width: 55px;
    height: 55px;
    margin: 6px 0;
    padding: 0;
    border-radius: 50%;
    box-shadow: 1px 2px 10px 0 #000000;
}

.navbar .icon {
    height: 25px;
    padding: auto;
    margin: auto;
}